    <div class="snap-drawers">
        <div class="snap-content">
            <div class="snap--switch">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <header class="page__header"  role="banner">
                <div class="wrap">
                    <div class="page__headerBranding headerBranding">
                        <h1 class="headerBranding__title">
                            <a href="/">
                                <img width="300" height="114" src="/img/logo-300x114.jpg" class="attachment-medium" alt="Wajug" />                            </a>
                        </h1>
                        <h2 class="headerBranding__baseline">
                            Walloon Jargon User Group                        </h2>
                    </div>
                    <nav role="navigation" class="page__headerNavigation ">
                        <div class="menu-menu-mobile-container"><ul id="menu-menu-mobile" class="mobile-menu"><li id="menu-item-176" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-176"><a href="/">Accueil</a></li>
<li id="menu-item-174" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/events.html">Evènements</a></li>
<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="/kids/">Special enfants</a></li>
<li id="menu-item-172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="/sponsoring/">Sponsoring</a></li>
<li id="menu-item-171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="/contact/">Contact</a></li>
</ul></div>                    </nav>
                    <ul class="events__authorSocialsMedia" style="top: -30px">
                                                    <li class="events__authorSocialMedia">
                                <a class="events__authorSocialMediaLink" href="#">
                                    <i class="fa fa-facebook"></i>
                                    <span class="screenreader-only">
                                        Facebook                                    </span>
                                </a>
                            </li>
                                                    <li class="events__authorSocialMedia">
                                <a class="events__authorSocialMediaLink" href="#">
                                    <i class="fa fa-twitter"></i>
                                    <span class="screenreader-only">
                                        Twitter                                    </span>
                                </a>
                            </li>
                                                    <li class="events__authorSocialMedia">
                                <a class="events__authorSocialMediaLink" href="#">
                                    <i class="fa fa-google"></i>
                                    <span class="screenreader-only">
                                        Google+                                    </span>
                                </a>
                            </li>
                                                    <li class="events__authorSocialMedia">
                                <a class="events__authorSocialMediaLink" href="#">
                                    <i class="fa fa-github"></i>
                                    <span class="screenreader-only">
                                        Github                                    </span>
                                </a>
                            </li>
                                            </ul>
                </div>
            </header>

            <main role="main" id="page--content" >
                <div class="snap-drawer snap-drawer-left">
                    <nav role="navigation">
                        <h1 class="screenreader-only">
                            Navigation mobile                        </h1>
                        <div class="menu-menu-mobile-container"><ul id="menu-menu-mobile-1" class="mobile-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7 current_page_item menu-item-176"><a href="/">Accueil</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/events.html">Evènements</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="/kids/">Special enfants</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-172"><a href="/sponsoring/">Sponsoring</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="/contact/">Contact</a></li>
</ul></div>                    </nav>
                </div>    
