<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="fr-FR" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="fr-FR" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="fr-FR" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) | !(IE 9)]><!-->
<html lang="fr-FR" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

  {% include head.html %}

	<body class="home page page-id-7 page-template page-template-page-accueil-php">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>

</html>
